/*loading*/
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

@media print {
    .notprint {
            display: none;
    }
    .printed {
        display: block;
    }
}
.btn-inverse {
    background: #216a88;
    border: 1px solid #169F85;
    color: #fff;
}
.btn-inverse:hover {
    background: #174a5f;
    border: 1px solid #169F85;
    color: #fff;
}
.addons{
    color: #000;
    font-weight: bold;
    font-size: 11px;
}
select.wrap{
    height: 50% !important;
    word-wrap: break-word !important;
    text-overflow: inherit !important;
    white-space: normal !important;
}

.select2-selection--single {
    height: 100% !important;
}
.select2-selection__rendered{
    word-wrap: break-word !important;
    text-overflow: inherit !important;
    white-space: normal !important;
}